@model IEnumerable<UserWithRolesViewModel>

@{
    ViewData["Title"] = "Roles";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@string.Join(", ", item.Roles)</td>
                <form method="post" asp-action="DeleteUser"asp-route-Id=@item.Id>

                <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </form>


            </tr>
        }
    </tbody>
</table>

<!-- Button trigger modal -->
<div class="d-flex justify-content-center">
    <button asp-action="AddUser" type="button" class="btn btn-success">Add User </button>
</div>
