@model MovieViewModel
@using CinemaBooking.Data;
@using CinemaBooking.Enums
@using CinemaBooking.Data.ViewModels;

@{
    ViewData["Title"] = "Adding a new Movie";
}


<form asp-action="Create" class="row g-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Name" for="validationCustom01" class="form-label fw-bold">Name :</label>
        <input asp-for="Name" type="text" class="form-control" id="validationCustom01" value="">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Description" for="validationCustom02" class="control-label fw-bold">Description :</label>
        <input asp-for="Description" type="text" class="form-control" id="validationCustom02" value="">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="Price" for="validationCustom02" class="control-label fw-bold">Price :</label>
        <input asp-for="Price" type="number" class="form-control" id="validationCustom02" value="">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label asp-for="StartDate" for="validationCustom02" class="control-label fw-bold">StartDate :</label>
        <input asp-for="StartDate" type="date" class="form-control" id="validationCustom02" value="">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="EndDate" for="validationCustom02" class="control-label fw-bold">EndDate :</label>
        <input asp-for="EndDate" type="date" class="form-control" id="validationCustom02" value="">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <label for="validationCustom02" class="control-label fw-bold">MovieCategoy :</label>
    @Html.DropDownList("Categories",Html.GetEnumSelectList<MovieCategory>(),"Select Category",new {@class = "form-control"})


    <div class="form-group">
        <label asp-for="SelectedCinemaId" class="control-label fw-bold">Select Cinema:</label>
        @Html.DropDownListFor(m => m.SelectedCinemaId, new SelectList(Model.Cinemas, "Id", "Name"),"Select Cinema", new { @class = "form-control" })
        <span asp-validation-for="SelectedCinemaId" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="SelectedProducerId" class="control-label fw-bold">Select Producer:</label>
        @Html.DropDownListFor(m => m.SelectedProducerId, new SelectList(Model.Producers, "Id", "Name"),"Select Producer", new { @class = "form-control" })
        <span asp-validation-for="SelectedProducerId" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label asp-for="ImageFile" for="validationCustom02" class="control-label fw-bold">Movie Image</label>
        <input asp-for="ImageFile" accept="image/*">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div>
        <img id="output" width="200" />
    </div>

    <div class="form-group d-flex justify-content-center">
        <input type="submit" value="Create" class="btn btn-outline-success" />

    </div>
</form>
<script>
    function handleFileUpload(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function(e) {
            $('#output').attr('src', e.target.result);
            $('#output').show();
        }

        reader.readAsDataURL(file);
    }

    $('#file').on('change', handleFileUpload);
</script>


