<div class="d-flex justify-content-center mt-4">
    <div class="alert alert-danger" role="alert">
       Can NOT Delete This Movie <a asp-action="Index" class="alert-link">Return to Movies</a>. Give it a click if you like.
    </div>
</div>
