@model Producer


@{
    ViewData["Title"] = "Details For Actor";
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-action="Edit">
            <h3>Edit Producer</h3>

                <div class="form-group d-flex justify-content-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" src="~/Images/@Model.ImagePath" />
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="ImagePath" for="formFile" class="control-label">Actor Image</label>
                    <input asp-for="ImagePath" class="form-control" readonly>
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="FullName" for="validationCustom01" class="form-label">Full name</label>
                    <input asp-for="FullName" type="text" class="form-control" id="validationCustom01">
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="Bio" for="validationCustom02" class="form-label">Bio</label>
                    <input asp-for="Bio" type="text" class="form-control" id="validationCustom02">
                </div>

                <div class="form-group col-md-12 mt-3 d-flex justify-content-center">
                    <input type="submit" value="Edit" class="btn btn-outline-success float-right" />
                    <a class="btn btn-outline-succss float-right" asp-action="Edit"></a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var imagePath = $("#ProfilePicturePreview").attr("src");
            $("#ProfilePicturePreview").attr("src", imagePath);
        });
    </script>
}
